<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2048.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>2048back.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NotificationCenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C30AECCE1A76A9B2004DC58C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C30AECE71A76A9B2004DC58C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C30AECFB1A76A9C9004DC58C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3624C031A76FCAD00749778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3624C0D1A76FCAD00749778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
